$white: #fff;
$black: #000;

$close-hover: #474747;

$color-fire: #ff7402;
$color-grass: #9bcc50;
$color-steel: #9eb7b8;
$color-water: #4592c4;
$color-psychic: #f366b9;
$color-ground: #aa9845;
$color-ice: #51c4e7;
$color-flying: #3dc7ef;
$color-ghost: #533753;
$color-normal: #a4acaf;
$color-poison: #89246b;
$color-rock: #83701b;
$color-fighting: #d56723;
$color-dark: #3a3a3a;
$color-bug: #729f3f;
$color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
$color-electric: #fff200;
$color-fairy: #fdb9e9;
$color-shadow: #7b62a3;
$color-unknow: #757575;
