@import "src/styles/variable";

.container {
  position: relative;
  display: flex;
  justify-content: right;
  margin-right: 20px;

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #910305 !important;
  }
  &::-webkit-scrollbar {
    width: 7px;
    background-color: #fb7248 !important;
  }
}

.stat__container_title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: $white;
  margin-left: -5%;
  padding: 0 10px;
  width: 110%;
  height: 65px;
  border-radius: 5px;
  background: linear-gradient(135deg, #f0501d 40%, $black 40%);
  position: relative;
}

.poke_num {
  width: 180px;
  color: $black;
}

.main_image {
  object-fit: contain;
  position: relative !important;
  width: auto !important;
}

.stat__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.stat__left {
  background: #dbdbd9;
  text-align: center;
}
// .stat__right {
//   background: $white;
// }

.right {
  display: flex;
  align-items: center;
  width: 38%;
  height: 55px;
  margin: 10px 0;
  padding: 5px 20px;
  font-size: 24px;
  font-weight: 700;
  position: relative;

  &:hover {
    background: linear-gradient(135deg, #f0501d 40%, black 40%);
    border-radius: 50px;
    cursor: pointer;

    & > :nth-child(3) {
      color: $white;
    }

    & > :nth-child(4) {
      filter: invert(1);
    }
  }
}

.show {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 450px;
  height: 75vh;
  left: 10%;
  bottom: 10%;
  z-index: 2;
}

.right_id {
  width: 270px;
}
.right_img {
  // margin-left: auto;
  // width: 40px;
  max-height: 50px;
  margin-right: 10px;
  object-fit: contain;
  position: relative !important;
  width: auto !important;
}

.show > img {
  filter: drop-shadow(2px 4px 12px $black);
  max-width: 300px;
}

.image_title {
  min-height: 60px;
  margin-right: 10px;
  object-fit: contain;
  position: relative !important;
  width: auto !important;
}
.pokeball_title {
  width: 40px;
  margin-left: auto;
  filter: invert(1);
}
.stats__left,
.stats__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 20px;

  & > p {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px;
    border-bottom: 1px solid #90979f38;
  }
}

// ================================types==================================

.card_types {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.card_types span {
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
}

// ======================================================================

.unit {
  /* smallよりもさらに小さい */
  font-size: xx-small;
  padding-left: 0.1rem;
}

.base_stats {
  display: flex;
  width: 100%;
  background: $white;

  > div {
    text-align: center;
    width: 100%;
  }
}

.stats {
  //   font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  //   line-height: 45px;
  background: #5a5a58;
  color: $white;
  border-bottom: 1px solid $white;
}

.total_stats {
  font-weight: bold;
}
// .stats:nth-child(1),
// .stats:nth-child(2) {
//   border-bottom: 1px solid $white;
// }
