@import "src/styles/variable";

.bottom {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: $black;
  display: flex;
  align-items: center;
  justify-content: right;
  grid-template: 30px;
  padding-right: 50px;

  .bottom__btn {
    display: flex;
    grid-template: 15px;
    color: $white;
    cursor: pointer;

    .bg_circle_white {
      border-radius: 50%;
      padding: 0 5px;
      background: $white;
      color: $black;
    }
  }
}
